<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="IPCalculator">
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer6" member="no">
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer3" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
												<label>IP-address</label>
											</object>
											<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL1" subclass="QuickRDPTextCtrl" variable="IPAddressText" member="yes">
												<style>wxTE_PROCESS_ENTER</style>
												<handler function="OnNetmaskCIDRText" entry="EVT_TEXT" />
												<handler function="OnButtonCalcClick" entry="EVT_TEXT_ENTER" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer4" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
												<label>Netmask or CIDR</label>
											</object>
											<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL2" subclass="QuickRDPTextCtrl" variable="NetmaskText" member="yes">
												<style>wxTE_PROCESS_ENTER</style>
												<handler function="OnNetmaskCIDRText" entry="EVT_TEXT" />
												<handler function="OnButtonCalcClick" entry="EVT_TEXT_ENTER" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer5" member="no">
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON1" variable="ButtonCalc" member="yes">
												<label>Calculate</label>
												<enabled>0</enabled>
												<handler function="OnButtonCalcClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer7" member="no">
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextOutput" member="yes">
										<size>315,91</size>
										<bg>wxSYS_COLOUR_INFOBK</bg>
										<style>wxTE_NO_VSCROLL|wxTE_MULTILINE|wxTE_READONLY|wxFULL_REPAINT_ON_RESIZE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
