<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CommandDialog">
		<size>391,253</size>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer7" member="no">
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer3" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer4" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
														<label>Name</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="nameTextCtrl" member="yes">
														<size>170,21</size>
														<handler function="OnNameTextChange" entry="EVT_TEXT" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer5" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
														<label>Program</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="programTextCtrl" member="yes">
														<size>135,21</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
														<label>...</label>
														<size>25,23</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer6" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
														<label>Argument</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="argumentTextCtrl" member="yes">
														<size>170,21</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer12" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
														<label>Favorite</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
														<label> ? </label>
														<fg>#FF0000</fg>
														<tooltip>Favorite commands will appear in the top right-click menu instead of in the sub-menu called &quot;Commands&quot;.</tooltip>
														<style>wxSIMPLE_BORDER</style>
													</object>
													<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX1" variable="favoriteCheckbox" member="yes" />
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="saveButton" member="yes">
										<label>Save</label>
										<handler function="OnSaveButton" entry="EVT_BUTTON" />
									</object>
									<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes" />
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer8" member="no">
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer9" member="no">
										<object class="sizeritem">
											<object class="wxListBox" name="ID_LISTBOX1" variable="CommandList" member="yes">
												<default>-1</default>
												<size>195,270</size>
												<handler function="OnListDoubleClick" entry="EVT_LISTBOX_DCLICK" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer10" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON3" variable="editButton" member="yes">
												<label>Edit</label>
												<handler function="OnButtonEdit" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON4" variable="RemoveButton" member="yes">
												<label>Remove</label>
												<enabled>0</enabled>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer11" member="no">
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON5" variable="closeButton" member="yes">
														<label>Close</label>
														<handler function="OnCloseButton" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
		</object>
	</object>
</wxsmith>
