<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="aboutDialog">
		<size>400,306</size>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer4" member="no">
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
										<size>256,256</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer7" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
												<label>QuickRDP</label>
												<fg>#292929</fg>
												<font>
													<size>18</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Arial</face>
												</font>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT8" variable="VersionText" member="yes">
												<label>Version</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
										<label>Manages RDP, telnet, SSH and VNC connections</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
										<label>Copyright © 2010 - 2016 Tobias Eliasson</label>
										<font>
											<size>8</size>
											<style>normal</style>
											<weight>normal</weight>
											<underlined>0</underlined>
											<family>swiss</family>
											<face>Sans</face>
										</font>
										<extra_code>StaticText3-&gt;SetLabel( wxT(&quot;Copyright © 2010 - 2016 Tobias Eliasson&quot;) );</extra_code>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer6" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
												<label>Licence: GNU GPLv3</label>
												<font>
													<size>8</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Arial</face>
												</font>
											</object>
											<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
												<label>Text</label>
												<hidden>1</hidden>
												<extra_code>Hyperlink1 = new wxHyperlinkCtrl(Panel1, ID__HYPERLINK1, __(&quot;http://www.gnu.org/licenses/gpl.html&quot;), __(&quot;http://www.gnu.org/licenses/gpl.html&quot;),wxDefaultPosition, wxDefaultSize, wxHL__ALIGN__CENTRE|wxNO__BORDER, __T(&quot;ID__HYPERLINK1&quot;));&#x0A;&#x09;BoxSizer6-&gt;Add(Hyperlink1, 1, wxALL|wxALIGN__CENTER__HORIZONTAL|wxALIGN__CENTER__VERTICAL, 5);&#x0A;</extra_code>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>10</border>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer5" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
												<label>quickRDP project page</label>
												<font>
													<size>8</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Arial</face>
												</font>
											</object>
											<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
												<label>https://github.com/arnestig/quickrdp</label>
												<hidden>1</hidden>
												<extra_code>Hyperlink2 = new wxHyperlinkCtrl(Panel1, ID__HYPERLINK2, __(&quot;https://github.com/arnestig/quickrdp&quot;), __(&quot;https://github.com/arnestig/quickrdp&quot;),wxDefaultPosition, wxDefaultSize, wxHL__ALIGN__CENTRE|wxNO__BORDER, __T(&quot;ID__HYPERLINK2&quot;));&#x0A;&#x09;BoxSizer5-&gt;Add(Hyperlink2, 1, wxALL|wxALIGN__CENTER__HORIZONTAL|wxALIGN__CENTER__VERTICAL, 5);</extra_code>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer8" member="no">
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON1" variable="Button2" member="yes">
												<label>Build information</label>
												<handler function="OnShowBuildInformation" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="wxID_CANCEL" variable="Button1" member="yes">
												<label>Close</label>
												<handler function="OnCloseButton" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
