<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="settingsDialog">
		<size>373,153</size>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer13" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
								<size>368,397</size>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
										<object class="wxBoxSizer" variable="BoxSizer2" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer3" member="no">
													<orient>wxVERTICAL</orient>
													<object class="sizeritem">
														<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
															<label>Telnet</label>
															<orient>wxVERTICAL</orient>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer7" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
																			<label>Executable</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TelnetExecutableText" member="yes">
																			<size>217,21</size>
																			<fg>wxSYS_COLOUR_GRAYTEXT</fg>
																			<style>wxTE_READONLY|wxDOUBLE_BORDER</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON1" variable="TelnetExecutableBrowseButton" member="yes">
																			<label>...</label>
																			<size>25,23</size>
																			<handler function="OnTelnetBrowseClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
															</object>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer8" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
																			<label>Argument</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TelnetArgumentText" member="yes">
																			<size>155,21</size>
																			<style>wxDOUBLE_BORDER</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON9" variable="TelnetArgumentHelpButton" member="yes">
																			<label>?</label>
																			<size>23,23</size>
																			<handler function="OnHelpArgumentClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON6" variable="TelnetArgumentResetButton" member="yes">
																			<label>reset</label>
																			<size>60,23</size>
																			<handler function="OnTelnetArgumentReset" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer4" member="no">
													<orient>wxVERTICAL</orient>
													<object class="sizeritem">
														<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
															<label>SSH</label>
															<orient>wxVERTICAL</orient>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer9" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
																			<label>Executable</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="SSHExecutableText" member="yes">
																			<size>217,21</size>
																			<fg>wxSYS_COLOUR_GRAYTEXT</fg>
																			<style>wxTE_READONLY|wxDOUBLE_BORDER</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON2" variable="SSHExecutableBrowseButton" member="yes">
																			<label>...</label>
																			<size>25,23</size>
																			<handler function="OnSSHBrowseClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
															</object>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer10" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
																			<label>Argument</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="SSHArgumentText" member="yes">
																			<size>155,21</size>
																			<style>wxDOUBLE_BORDER</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON4" variable="SSHArgumentHelpButton" member="yes">
																			<label>?</label>
																			<size>23,23</size>
																			<handler function="OnHelpArgumentClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON7" variable="SSHArgumentResetButton" member="yes">
																			<label>reset</label>
																			<size>60,23</size>
																			<handler function="OnSSHArgumentReset" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer6" member="no">
													<orient>wxVERTICAL</orient>
													<object class="sizeritem">
														<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
															<label>VNC</label>
															<orient>wxVERTICAL</orient>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer11" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
																			<label>Executable</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="VNCExecutableText" member="yes">
																			<size>217,21</size>
																			<fg>wxSYS_COLOUR_GRAYTEXT</fg>
																			<style>wxTE_READONLY|wxDOUBLE_BORDER</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON5" variable="VNCExecutableBrowseButton" member="yes">
																			<label>...</label>
																			<size>25,23</size>
																			<handler function="OnVNCBrowseClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
															</object>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer12" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
																			<label>Argument</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="VNCArgumentText" member="yes">
																			<size>155,21</size>
																			<style>wxDOUBLE_BORDER</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON10" variable="VNCArgumentHelpButton" member="yes">
																			<label>?</label>
																			<size>23,23</size>
																			<handler function="OnHelpArgumentClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON8" variable="VNCArgumentResetButton" member="yes">
																			<label>reset</label>
																			<size>60,23</size>
																			<handler function="OnVNCArgumentResetButtonClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
									</object>
									<label>Programs</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
										<size>360,373</size>
										<object class="wxBoxSizer" variable="BoxSizer14" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer17" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
															<label>New connection</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_NEWCON" variable="TextShortcutNewCon" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer15" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
															<label>Duplicate connection</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_DUPCON" variable="TextShortcutDupCon" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer20" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
															<label>Connection properties</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_CONPROP" variable="TextShortcutConProp" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer27" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText10" member="yes">
															<label>Select all connections</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_SELCON" variable="TextShortcutSelectAllCon" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer19" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
															<label>Commands dialog</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_COMMANDDIALOG" variable="TextShortcutCommandDialog" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer23" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT13" variable="ShortcutManualCCLabel" member="yes">
															<label>Manual connection check</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_MANUALCC" variable="ShortcutManualCCText" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer30" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText13" member="yes">
															<label>Connect when ready</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_CONNECTWHENREADY" variable="ShortcutConnectWhenReadyText" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer24" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT14" variable="ShortcutNewTabLabel" member="yes">
															<label>Open new tab</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_NEWTAB" variable="ShortcutNewTabText" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer25" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT15" variable="ShortcutCloseTabLabel" member="yes">
															<label>Close current tab</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_CLOSETAB" variable="ShortcutCloseTabText" member="yes" />
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Hotkeys</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
										<object class="wxBoxSizer" variable="BoxSizer16" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer18" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT8" variable="CCTimeoutLabel" member="yes">
															<label>Connect scan timeout</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="CCTimeoutTextDisplay" member="yes">
															<value>0000 ms</value>
															<size>60,21</size>
															<style>wxTE_READONLY</style>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER1" variable="CCTimeoutSlider" member="yes">
															<min>2</min>
															<max>200</max>
															<pagesize>10</pagesize>
															<linesize>10</linesize>
															<thumb>10</thumb>
															<size>69,24</size>
															<handler function="OnCCTimeoutSliderCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer22" member="no">
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CCAutoUpdateCheckbox" member="yes">
															<label>Enable automatic connection checks</label>
															<checked>1</checked>
															<handler function="OnCCAutoUpdateCheckboxClick" entry="EVT_CHECKBOX" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer21" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT10" variable="CCUpdateIntervalLabel" member="yes">
															<label>Check connections every</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="CCUpdateIntervalTextDisplay" member="yes">
															<value>180 s</value>
															<size>50,21</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER2" variable="CCUpdateIntervalSlider" member="yes">
															<min>1</min>
															<max>36</max>
															<pagesize>10</pagesize>
															<handler function="OnCCUpdateIntervalSliderCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer26" member="no">
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT16" variable="CCWorkerThreadLabel" member="yes">
															<label>Number of worker threads</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText8" member="yes">
															<label> ? </label>
															<fg>#FF0000</fg>
															<tooltip>Experimental setting. &#x0A;Will alter the number of threads used for connection checks. &#x0A;You will need to restart the program for this setting to be effective.</tooltip>
															<style>wxSIMPLE_BORDER</style>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="CCWorkerThreadTextDisplay" member="yes">
															<value>0</value>
															<size>25,21</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER3" variable="CCWorkerThreadSlider" member="yes">
															<min>1</min>
															<max>8</max>
															<handler function="OnCCWorkerThreadSliderCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
									</object>
									<label>Connection checker</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL5" variable="Panel5" member="yes">
										<object class="wxBoxSizer" variable="BoxSizer28" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer29" member="no">
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_USE_GREY_LIST_BACKGROUND" variable="CheckboxGreyListBackground" member="yes">
															<label>Use grey background for every second item in the connection list</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
									</object>
									<label>Layout</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL6" variable="Panel6" member="yes">
										<object class="wxBoxSizer" variable="BoxSizer31" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
													<label>RDP</label>
													<orient>wxVERTICAL</orient>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer34" member="no">
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT22" variable="StaticText16" member="yes">
																	<label>Default resolution</label>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
															</object>
															<object class="sizeritem">
																<object class="wxChoice" name="ID_CHOICE1" variable="RDPDefaultResolutionChoice" member="yes">
																	<content>
																		<item>Default resolution</item>
																		<item>Fullscreen</item>
																		<item>640 x 480</item>
																		<item>800 x 600</item>
																		<item>1024 x 768</item>
																		<item>1152 x 864</item>
																		<item>1280 x 960</item>
																		<item>1400 x 1050</item>
																	</content>
																	<selection>0</selection>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
															</object>
														</object>
														<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
													<label>SSH</label>
													<orient>wxVERTICAL</orient>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer6" member="no">
													<label>Telnet</label>
													<orient>wxVERTICAL</orient>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer7" member="no">
													<label>VNC</label>
													<orient>wxVERTICAL</orient>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
									</object>
									<label>Defaults</label>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer5" member="no">
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON3" variable="OKButton" member="yes">
										<label>Ok</label>
										<size>75,23</size>
										<handler function="OnButtonSave" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="wxID_CANCEL" variable="CancelButton" member="yes">
										<label>Cancel</label>
										<size>75,23</size>
										<handler function="OnButtonCancel" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="TelnetExecDialog" member="yes">
			<message>Locate telnet executable</message>
			<wildcard>PuTTY (putty.exe)|putty.exe|All files (*.*)|*.*</wildcard>
		</object>
		<object class="wxFileDialog" variable="SSHExecDialog" member="yes">
			<message>Locate SSH executable</message>
			<wildcard>PuTTY (putty.exe)|putty.exe|All files (*.*)|*.*</wildcard>
		</object>
		<object class="wxFileDialog" variable="VNCExecDialog" member="yes">
			<message>Locate VNC executable</message>
			<wildcard>PuTTY (putty.exe)|putty.exe|All files (*.*)|*.*</wildcard>
		</object>
	</object>
</wxsmith>
