<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ExampleDialog">
		<centered>1</centered>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="exampleTextCtrl" member="yes">
								<size>610,183</size>
								<bg>wxSYS_COLOUR_INFOBK</bg>
								<style>wxTE_MULTILINE|wxTE_READONLY</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="wxID_CANCEL" variable="Button1" member="yes">
								<label>Close</label>
								<handler function="OnCloseButton" entry="EVT_BUTTON" />
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
