aaaa ICON "data/QuickRDP.ico"
connectionerror ICON "data/connectionerror.ico"
connectionok ICON "data/connectionok.ico"

#ifndef PRODUCTVERSION_STR
#define PRODUCTVERSION_STR "1.3-RC1"
#endif

1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Tobias Eliasson"
      VALUE "FileDescription", "Manages RDP, telnet and SSH connections"
      VALUE "LegalCopyright", "Copyright © 2010-2012 Tobias Eliasson"
      VALUE "OriginalFilename", "QuickRDP.exe"
      VALUE "ProductName", "QuickRDP"
      VALUE "ProductVersion", PRODUCTVERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
#include "wx/msw/wx.rc"
